/* COMMON */

* {
  box-sizing: border-box;
}

body {
  font-family: "Stratos Deliveroo Web", sans-serif;
  margin: 0 auto;
  background-color: #f2f5f5;
}

main {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 1200px;
  width: 96vw;
  background-color: #f2f5f5;
}

/* Header */

.whiteBackground {
  background-color: white;
}

.logo {
  height: 70%;
}

.TopBar {
  border-bottom: 1px solid #e9ebeb;
  height: 60px;
}

.TopBar-center {
  margin: 0 auto;
  width: 96vw;
  max-width: 1200px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.RestaurantInfos-center {
  margin: 0 auto;
  padding: 30px 0;
  width: 96vw;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.RestaurantInfos-texts {
  flex: 1;
  margin-right: 30px;
}

.RestaurantInfos-texts h1 {
  font-size: 32px;
  line-height: 26px;
  color: #2e3333;
  margin-bottom: 32px;
  margin-top: 10px;
}

.RestaurantInfos-texts p {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 19px;
  color: #868a8a;
  line-height: 28px;
}

.RestaurantInfos-cover {
  width: 350px;
  border-radius: 5px;
}

/* MAIN */

.MenuItem {
  margin-bottom: -25px;
  margin-right: 30px;
  width: calc(70%);
}

.MenuItem-texts h3 {
  margin: 0;
  font-weight: 400;
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 20px;
  color: #2e3333;
}

.MenuItems {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.Menu {
  min-width: 300px;
  padding: 0 10px 25px;
  width: 50%;
}

.Menu:hover {
  box-shadow: 0px 0 30px rgba(163, 162, 162, 0.3);
  transition: 0.3s;
}

.MenuChoices {
  justify-content: space-between;
  align-items: flex-start;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 160px;
  padding: 15px;
}

.MenuChoicesPicture {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.MenuChoicesText {
  flex: 1;
  margin-right: 15px;
}

.mealsTitle {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 18px;
  color: #2e3333;
  margin-bottom: 8px;
  line-height: 20px;
}

.mealsDescription {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  color: #808484;
  margin-bottom: 16px;
  line-height: 21px;
}

.mealsPrice {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 17px;
  color: #808484;
}

.mealsPopular {
  align-items: center;
  color: #ff8000;
  display: flex;
  flex-direction: row;
  font-size: 13px;
  font-weight: 800;
  margin-left: 8px;
}

.mealsPricePopularity {
  align-items: center;
  color: #ff8000;
  display: flex;
  flex-direction: row;
  font-size: 12px;
}

.mealsPricePopularity .icon-STAR_FILL {
  color: #ff8000;
  margin-left: 16px;
  font-size: 20px;
}

.mealsPicture {
  width: 131px;
  height: 131px;
  object-fit: cover;
  flex-shrink: 0;
}

/* CART */

.Cart-card {
  box-shadow: 0px 22px 24px 0px rgba(46, 51, 51, 0.07);
  background: white;
  border-radius: 4px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 30px 0;
  width: 350px;
  position: sticky;
  top: 0;
}

.Cart-validate {
  display: block;
  margin: 10px;
  border-radius: 5px;
  padding: 16px;
  background: #00cdbd;
  color: white;
  border: none;
  font-weight: 700;
  font-size: 16px;
}

.Cart-disabled {
  cursor: not-allowed;
  background: #bac3c3;
  color: #8b9a9b;
}

.Cart-empty {
  font-family: "IBM Plex Sans", sans-serif;
  color: #868a8a;
  text-align: center;
  padding: 48px 0;
}

.Cart-items {
  border-bottom: 1px solid #d1d7d7;
  margin: 0 10px;
  max-height: calc(100vh - 300px);
  overflow: auto;
}

.Cart-line {
  align-items: flex-start;
  padding: 12px 12px;
}

.Cart-counter {
  margin-right: 10px;
  color: #808484;
}

.choiceTitle {
  line-height: 20px;
  font-family: "IBM Plex Sans", sans-serif;
  color: #434848;
}

.btn-quantity {
  height: 20px;
  width: 20px;
  margin: 0 7px;
}

.choiceLine {
  margin-top: 15px;
  margin-bottom: 23px;
  display: flex;
  justify-content: space-between;
}

.underChoices span {
  font-family: "IBM Plex Sans", sans-serif;
  color: #434848;
}

.basketPriceQty {
  font-family: "IBM Plex Sans", sans-serif;
  color: #434848;
}

.basketTotal {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 19px;
  color: #434848;
}
.d-flex space-between choiceLine span {
  font-family: "IBM Plex Sans", sans-serif;
}

/* FOOTER  */

footer {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 15px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 90px;
}

footer span {
  font-weight: bold;
}

/* RESPONSIVE */

@media (max-width: 1100px) {
  .mealsDescription {
    flex-shrink: 0;
    overflow: hidden;
  }
}

@media (max-width: 1124px) {
  .MenuItem {
    width: 100%;
  }
}

@media (max-width: 1124px) {
  .Menu {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}

@media (max-width: 885px) {
  .RestaurantInfos-center {
    flex-direction: column-reverse;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .RestaurantInfos-cover {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 0;
  }
  .RestaurantInfos-texts {
    padding: 30px;
  }
  h1 {
    font-size: 24px !important;
  }
  p {
    font-size: 16px !important;
  }
}

@media (max-width: 768px) {
  .Cart {
    display: none;
  }
}

@media (max-width: 768px) {
  .Menu {
    margin-right: 0;
  }
}

/* FONTS */

@font-face {
  font-family: "Stratos Deliveroo Web";
  src: url("./assets/fonts/StratosDeliverooWeb-SemiBold.eot");
  src: url("./assets/fonts/StratosDeliverooWeb-SemiBold.eot")
      format("embedded-opentype"),
    url("./assets/fonts/StratosDeliverooWeb-SemiBold.woff2") format("woff2"),
    url("./assets/fonts/StratosDeliverooWeb-SemiBold.woff") format("woff"),
    url("./assets/fonts/StratosDeliverooWeb-SemiBold.ttf") format("truetype"),
    url("./assets/fonts/StratosDeliverooWeb-SemiBold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("./assets/fonts/IBMPlexSans-Bold.eot");
  src: url("./assets/fonts/IBMPlexSans-Bold.eot") format("embedded-opentype"),
    url("./assets/fonts/IBMPlexSans-Bold.woff2") format("woff2"),
    url("./assets/fonts/IBMPlexSans-Bold.woff") format("woff"),
    url("./assets/fonts/IBMPlexSans-Bold.ttf") format("truetype"),
    url("./assets/fonts/IBMPlexSans-Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("./assets/fonts/IBMPlexSans.eot");
  src: url("./assets/fonts/IBMPlexSans.eot") format("embedded-opentype"),
    url("./assets/fonts/IBMPlexSans.woff2") format("woff2"),
    url("./assets/fonts/IBMPlexSans.woff") format("woff"),
    url("./assets/fonts/IBMPlexSans.ttf") format("truetype"),
    url("./assets/fonts/IBMPlexSans-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* FLEXBOX */

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-direction-column {
  flex-direction: column;
}
.space-between {
  justify-content: space-between;
}

.row {
  flex-direction: row;
}

.display-none {
  display: none;
}

.margin-auto {
  margin: 0 auto;
}

.flex1 {
  flex: 1;
}

.flex2 {
  flex: 2;
}

.white {
  background-color: white;
}

.bold {
  font-weight: bold;
}
